@model IEnumerable<CategoryDisplayResponse>
<div class="list-group">

    @foreach (var item in Model)
    {
        <a asp-action="Index" asp-controller="Home" asp-route-id="@item.Id" class="list-group-item list-group-item-action">@item.Name</a>
    }
    

 
</div>